.navbar-brand {
    padding: 20px 15px 15px;
}

body {
    padding-top: 100px
}

.navbar-nav>li>a {
    line-height: 70px;
    font-size: 16px;
    font-weight: bold;
}

.navbar-brand img {
    height: 60px;
}

@media (max-width: 768px) {
    .navbar-brand>img {
        height: 55px;
    }

    .navbar-header {
        height: 70px !important;
    }

    .alinha-navbar {
        padding: 9px;
        position: absolute;
        left: 50%;
        margin-left: -85px !important;
        display: block;
    }

    body {
        padding-top: 70px
    }

    .navbar button {
        margin-top: 15px;
    }
}